  html {
    background-color: #211500;
    width: 100%;
  }

  a:hover {color: red;}

  pre {
    font-size: 14px;
  }
  
  .tao {text-indent: 3%;}

  p {text-indent: 3%;}

  h2 {text-align: center;}
  h1 {text-align: center; font-size: 56px; color: #AFF}

  body {
    width: 84%;
    font-size: 34px;
    font: times;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
   /* background-color: #361B01; */ 
    background-color: #aaf5ff;
   /* color: #aae4ee; */
    margin-top: 20px;a {;
    color: #000DFC;
}

button {
  margin-left: 5%;
  background-color: #CCffff;
  border-width: 0px;
  border-color: #361B01;
  border-radius: 25px;
  color: darkblue;
  font-size: 24px;
  box-shadow: 0px 0px 12px 0px rgb(0, 255, 0);
  padding: 3px 10px 3px 10px;
}

button:hover {
  box-shadow: 0px 0px 12px 0px rgb(0,0,255);
  color: #0000FF;
  font-size: 22px;
  background-color: gold ;
  border-color: #0000AA;
}


  .tao {margin-left: 3%;}
  em {color: darkgreen;}

a {
  color: rgb(70, 0, 128);
}

p {
    font-size: 20px;
}

pre {
    font-size: 20px;
    color: darkred;
}

span {
    font-size: 20px;
}